.navButton {
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-weight: 400;
  padding-top: 5px;
  font-size: 22px;

  flex-grow: 1;
  display: flex;

  box-sizing: border-box;

  justify-content: center;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.5px;
  min-height: 2em;
  align-items: center;

  margin-right: 50px;
  color: rgba(0, 0, 0, 0.733);
}

.navButton1 {
  color: rgb(19, 18, 18);
  flex-grow: 1;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding-top: 5px;
  font-size: 22px;
  min-height: 2em;
  align-items: center;
  font-family: "Crimson Text", serif;
  display: flex;
  margin-left: 20px;

  transition: all 0.2s ease-in-out;
}

.navButton:hover {
  transform: scale(1.1);
}
.navButton1:hover {
  font-size: 23px;
}

.main-containerr {
  display: inline;
  height: 53px;
  background-color: black;
  width: 100%;
  display: flex;

  justify-content: space-between;

  padding: 0;
  margin: 0;

  overflow: hidden;

  position: fixed;
  top: 0rem;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: white;
  opacity: 100;
  transition-duration: 900ms;
  z-index: 1000;
}
.main-containerr2 {
  height: 53px;
  opacity: 0;
}
.menuContainer {
  display: flex;
}

.homeButton:hover {
  transform: scale(1.1);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width: 600px) {
  .menuContainer {
    display: none;
  }

  .noShow {
    display: block;
  }
}
